<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <h5 class="widget-title"><%= __('categories') %></h5>
    <div id="catfunc" class="widget">
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
